<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">

    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {{  \Carbon\Carbon::now()->format('Y') }} <a href="http://devexteam.com" target="_blank">[Devex]<sub>Team</sub></a>.</strong> Todos los derechos reservados.
</footer>